# Data
numpy==1.26.4
pandas==2.2.1
scipy==1.12.0

# Visualisation
matplotlib==3.8.3
seaborn==0.13.2

# PostgreSQL
psycopg2-binary==2.9.9
sqlalchemy==2.0.28

# Notebook
jupyterlab==4.1.5
ipykernel==6.29.3
